In [1]:
from retrieval_base.retrieval_setup import RetrievalSetup

# Import input file as 'conf'
conf_string = 'config_fiducial_K_A_new'
conf = __import__(conf_string, fromlist=[''])

RS = RetrievalSetup(conf)

==============
species v0.9.0
==============

Working folder: /net/lem/data1/regt/retrieval_base/Luhman_16

Configuration file: /net/lem/data1/regt/retrieval_base/Luhman_16/species_config.ini
Database file: /net/lem/data1/regt/retrieval_base/Luhman_16/species_database.hdf5
Data folder: /net/lem/data1/regt/retrieval_base/Luhman_16/data

Configuration settings:
   - Database: /net/lem/data1/regt/retrieval_base/Luhman_16/species_database.hdf5
   - Data folder: /net/lem/data1/regt/retrieval_base/Luhman_16/data
   - Magnitude of Vega: 0.03

Multiprocessing: mpi4py installed
Process number 1 out of 1...

/net/lem/data1/regt/conda_env/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1217: RuntimeWarning: All-NaN slice encountered
  return function_base._ureduce(a, func=_nanmedian, keepdims=keepdims,

In [2]:
RS.ParamTable.table

,name,m_set,Param,val,idx_free
0,log_P_range,all,None,"(-5, 3)",None
1,n_atm_layers,all,None,50,None
2,lbl_opacity_sampling,all,None,3,None
3,parallax,all,None,496,None
4,inclination,all,None,18,None
5,do_scat_emis,all,None,False,None
6,log_a,all,<retrieval_base.parameters_new.Parameter objec...,NaN,0
7,a,all,None,NaN,None
8,log_l,all,<retrieval_base.parameters_new.Parameter objec...,NaN,1
9,l,all,None,NaN,None
10,R_p,all,<retrieval_base.parameters_new.Parameter objec...,NaN,2
11,rv,all,<retrieval_base.parameters_new.Parameter objec...,NaN,3
12,vsini,all,<retrieval_base.parameters_new.Parameter objec...,NaN,4
13,epsilon_limb,all,<retrieval_base.parameters_new.Parameter objec...,NaN,5
14,log_opa_base_gray_0,all,<retrieval_base.parameters_new.Parameter objec...,NaN,6
15,opa_base_gray_0,all,None,NaN,None
16,log_P_base_gray_0,all,<retrieval_base.parameters_new.Parameter objec...,NaN,7
17,P_base_gray_0,all,None,NaN,None
18,f_sed_gray_0,all,<retrieval_base.parameters_new.Parameter objec...,NaN,8
19,cloud_slope_0,all,<retrieval_base.parameters_new.Parameter objec...,NaN,9
20,C/O,all,<retrieval_base.parameters_new.Parameter objec...,NaN,10
21,Fe/H,all,<retrieval_base.parameters_new.Parameter objec...,NaN,11
22,log_13CO_ratio,all,<retrieval_base.parameters_new.Parameter objec...,NaN,12
23,13CO_ratio,all,None,NaN,None
24,log_C18O_ratio,all,<retrieval_base.parameters_new.Parameter objec...,NaN,13
25,C18O_ratio,all,None,NaN,None
26,log_H2(18)O_ratio,all,<retrieval_base.parameters_new.Parameter objec...,NaN,14
27,H2(18)O_ratio,all,None,NaN,None
28,log_Kzz_chem,all,<retrieval_base.parameters_new.Parameter objec...,NaN,15
29,Kzz_chem,all,None,NaN,None
30,dlnT_dlnP_0,all,<retrieval_base.parameters_new.Parameter objec...,NaN,16
31,dlnT_dlnP_1,all,<retrieval_base.parameters_new.Parameter objec...,NaN,17
32,dlnT_dlnP_2,all,<retrieval_base.parameters_new.Parameter objec...,NaN,18
33,dlnT_dlnP_3,all,<retrieval_base.parameters_new.Parameter objec...,NaN,19
34,dlnT_dlnP_4,all,<retrieval_base.parameters_new.Parameter objec...,NaN,20
35,T_phot,all,<retrieval_base.parameters_new.Parameter objec...,NaN,21
36,log_P_phot,all,<retrieval_base.parameters_new.Parameter objec...,NaN,22
37,P_phot,all,None,NaN,None
38,d_log_P_phot+1,all,<retrieval_base.parameters_new.Parameter objec...,NaN,23
39,d_log_P_phot-1,all,<retrieval_base.parameters_new.Parameter objec...,NaN,24
40,M_p,K2166_B,<retrieval_base.parameters_new.Parameter objec...,NaN,25

In [4]:
import numpy as np
cube = np.random.uniform(0, 1, 26)
phys_cube = RS.ParamTable(cube)
RS.ParamTable.table

,name,m_set,Param,val,idx_free
0,log_P_range,all,None,"(-5, 3)",None
1,n_atm_layers,all,None,50,None
2,lbl_opacity_sampling,all,None,3,None
3,parallax,all,None,496,None
4,inclination,all,None,18,None
5,do_scat_emis,all,None,False,None
6,log_a,all,<retrieval_base.parameters_new.Parameter objec...,-0.27563,0
7,a,all,None,0.530115,None
8,log_l,all,<retrieval_base.parameters_new.Parameter objec...,-2.449285,1
9,l,all,None,0.003554,None
10,R_p,all,<retrieval_base.parameters_new.Parameter objec...,1.191768,2
11,rv,all,<retrieval_base.parameters_new.Parameter objec...,20.358805,3
12,vsini,all,<retrieval_base.parameters_new.Parameter objec...,18.377689,4
13,epsilon_limb,all,<retrieval_base.parameters_new.Parameter objec...,0.200251,5
14,log_opa_base_gray_0,all,<retrieval_base.parameters_new.Parameter objec...,-4.30165,6
15,opa_base_gray_0,all,None,0.00005,None
16,log_P_base_gray_0,all,<retrieval_base.parameters_new.Parameter objec...,0.231963,7
17,P_base_gray_0,all,None,1.705938,None
18,f_sed_gray_0,all,<retrieval_base.parameters_new.Parameter objec...,13.634936,8
19,cloud_slope_0,all,<retrieval_base.parameters_new.Parameter objec...,-0.441073,9
20,C/O,all,<retrieval_base.parameters_new.Parameter objec...,0.287921,10
21,Fe/H,all,<retrieval_base.parameters_new.Parameter objec...,0.790077,11
22,log_13CO_ratio,all,<retrieval_base.parameters_new.Parameter objec...,3.410433,12
23,13CO_ratio,all,None,2572.961525,None
24,log_C18O_ratio,all,<retrieval_base.parameters_new.Parameter objec...,3.21622,13
25,C18O_ratio,all,None,1645.204868,None
26,log_H2(18)O_ratio,all,<retrieval_base.parameters_new.Parameter objec...,3.648273,14
27,H2(18)O_ratio,all,None,4449.107563,None
28,log_Kzz_chem,all,<retrieval_base.parameters_new.Parameter objec...,10.600728,15
29,Kzz_chem,all,None,39877527165.340797,None
30,dlnT_dlnP_0,all,<retrieval_base.parameters_new.Parameter objec...,0.130427,16
31,dlnT_dlnP_1,all,<retrieval_base.parameters_new.Parameter objec...,0.191041,17
32,dlnT_dlnP_2,all,<retrieval_base.parameters_new.Parameter objec...,0.101224,18
33,dlnT_dlnP_3,all,<retrieval_base.parameters_new.Parameter objec...,0.146179,19
34,dlnT_dlnP_4,all,<retrieval_base.parameters_new.Parameter objec...,0.154607,20
35,T_phot,all,<retrieval_base.parameters_new.Parameter objec...,1074.327042,21
36,log_P_phot,all,<retrieval_base.parameters_new.Parameter objec...,-0.18383,22
37,P_phot,all,None,0.654893,None
38,d_log_P_phot+1,all,<retrieval_base.parameters_new.Parameter objec...,1.911278,23
39,d_log_P_phot-1,all,<retrieval_base.parameters_new.Parameter objec...,0.9062,24
40,M_p,K2166_B,<retrieval_base.parameters_new.Parameter objec...,33.130991,25
41,log_g,K2166_B,None,4.781691,None
42,g,K2166_B,None,60490.966639,None

In [5]:
%timeit phys_cube = RS.ParamTable(cube)

9.6 ms ± 81.3 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

['K2166_A', 'all']

In [ ]:
RS.ParamTable.add_param(name='log_g', m_set='all', val=4.5)

In [ ]:
RS.ParamTable.table.loc[RS.ParamTable.table['name']=='g', 'val']

In [ ]:
(RS.ParamTable.table['name']=='g').any()

In [ ]:
RS.ParamTable.table.loc[RS.ParamTable.table['name']=='g', 'val'] = 9.6

In [ ]:
RS.ParamTable.table.loc['g','val'] = 9.6

In [ ]:
queried_m_set = 'all'
name = 'M_p'

query = f'm_set=="{queried_m_set}" and name=="{name}"'
RS.ParamTable.table.query(query)

In [ ]:
RS.ParamTable.table

In [ ]:
RS.ParamTable.get('opa_base_gray_0')

In [ ]:
from parameters_new import ParameterTable

In [ ]:
constant_params = {
    'const_1': 1., 
    'const_2': 2., 
    'A': {'const_3': 3.},  
    }
free_params = {
    'free_4': ('U', (0,6), r'free_a'), 
    'free_5': ('G', (5,1), r'free_b'), 
    'A': {
        'free_6': ('U', (5,7), r'free_6')
        },
    'B': {
        'free_7': ('U', (4,7), r'free_7'), 
        'log_free_8': ('U', (2,3), r'log_free_8')
        },
    }

PI = ParameterTable(
    free_params, constant_params, 
    model_settings=['A','B'], 
    PT_kwargs={
        'PT_mode':'free_gradient', 
        'A':{'n_T_knots':5, 'PT_mode':'grid'}, 
        #'A':{'n_T_knots':5}
        }, 
    )

PI(cube=[0.5, 0.4, 0.5, 0.5, 0.5], ndim=5)
PI.table

In [ ]:
PI.PT_kwargs

In [ ]:
cloud_kwargs = {
    #'cloud_mode': 'gray', 
    'wave_cloud_0': 2.0, 
    'A': {'wave_cloud_0': 2.5}, 
    'B': {'cloud_mode': 'EddySed'}, 
    }
new_cloud_kwargs = PI.expand_per_model_setting(cloud_kwargs, main_m_set='all')
print(new_cloud_kwargs)

new_cloud_kwargs['A'].update(new_cloud_kwargs['all'])
print(new_cloud_kwargs)

In [ ]:
PI.queried_m_set = 'B'; print(PI.get('free_8'))
PI.queried_m_set = ''; print(PI.get('free_8'))

PI.queried_m_set = 'all'; print(PI.get('free_5'))